/* Styles for section anchors */
a.anchor-section {margin-left: 10px; visibility: hidden; color: inherit;}
a.anchor-section::before {content: '#';}
.hasAnchor:hover a.anchor-section {visibility: hidden;}
ul > li > .anchor-section {display: none;}
/*

*/
.main-container{max-width: 1492px}

div.text {
font-size: 1.25em;
background-color: rgba(255, 255, 255, 0.6); 
background-size: cover; 
padding: 2%;
}
a {
  color: #ffffff;
  font-weight: bold;
}

/*.main-divs {
  display: flex;
}*/

a:hover{
color: #a4eb34
}

body {
background-image: url('images/background/maksym-ivashchenko.webp'); 
background-position: center;
background-repeat: repeat-y;
}


.cpics-logo {
display: block; 
margin-left: auto; 
margin-right: auto;
width: 100%
}

img.logo {
display: block; 
margin-left: auto; 
margin-right: auto;
}

.main-container{
  max-width: 1492px;
  margin-left: auto; 
  margin-right: auto;
}

* {
  box-sizing: border-box;
}

div p {
  font-size: 1em;
  text-align: justify;
  color: black;
}

  
nav-tabs>li>a:hover{border-color:rgba(50, 130, 102, 0.6)}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{
  color: #fff;
  cursor:default;
  background-color: rgba(50, 130, 102, 0.6);
  border:1px solid rgba(50, 130, 102, 1);
  border-bottom-color:transparent
}  

.nav-tabs>li{
  float:left;margin-bottom:-1px
}

.nav-tabs>li>a{
  margin-right:2px;
  line-height:1.42857143;
  border:1px solid transparent;
  border-radius:4px 4px 0 0
}

.nav-tabs>li>a:hover{
  border-color:#eee #eee #ddd
}

.nav-tabs.nav-justified{
  width:100%;border-bottom:0
}

.nav-tabs.nav-justified>li{float:none}
.nav-tabs.nav-justified>li>a{margin-bottom:5px;text-align:center}
.nav-tabs.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}
  
.nav-pills>li{float:left}
.nav-pills>li>a{border-radius:4px}
.nav-pills>li+li{margin-left:2px}
.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{
  color:#fff;background-color:rgba(50, 130, 102, 1);
}

.nav-stacked>li{float:none}
.nav-stacked>li+li{margin-top:2px;margin-left:0}
.nav-justified{width:100%}
.nav-justified>li{float:none}
.nav-justified>li>a{margin-bottom:5px;text-align:center}
.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}


.nav-tabs-justified{border-bottom:0}
.nav-tabs-justified>li>a{margin-right:0;border-radius:4px}
.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:focus,.nav-tabs-justified>.active>a:hover{
  border:1px solid #ddd
}


.tab-content>.tab-pane{display:none}
.tab-content>.active{display:block}
.nav-tabs .dropdown-menu{margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}
  
a {
  color:#fff;
}    
  
/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media only screen and (max-width: 940px) {
  div.hide { display: none;
    visibility: hidden;
      max-width: 0px;
      max-height: 0px;
    }
    a {
      color:#058440
    }
    .nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{
  color:#fff;background-color:rgba(50, 130, 102, 1);
}

  }
  
@media (min-width:768px){
    .nav-tabs.nav-justified>li{
      display:table-cell;width:1%
    }
    .nav-tabs.nav-justified>li>a{
      margin-bottom:0;
       border-bottom:1px solid #ddd;
       border-radius:4px 4px 0 0
    }
  .nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover{
    border-bottom-color:#fff
    
  }  
}
