/*  Code done with examples from https://www.w3schools.com/ howto CSS forms*/
input[type="text"], input[type="submit"], button, textarea, select{ 
  padding: 0.5em ; 
  border: 1px solid #e5e5e5; 
  border-radius: 10px; 
  margin: 0em; 
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", 
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
  "Fira Sans", "Droid Sans", "Helvetica Neue", 
  Arial, sans-serif; 
}

label {
  font-size: 1em;
}

input[type="text"] {
  width: 100%;  resize: both; 
}

textarea { width: 100%;  resize: both; }

input[type="text"]:hover, textarea:hover, select:hover, input[name="Other affiliation"] {
	border: solid rgba(50, 130, 102, 0.7);
}

input[type="text"]:active, textarea:active, select:active {
	border: solid rgba(50, 130, 102, 1);
}
ph {display: inline;}
    
input[type=submit]:hover{
	background-color: rgba(50, 130, 102, 0.7)
}
.submit:active{background-color: rgba(50, 130, 102, 1)}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


ol {padding: 0; margin: 0;}

textarea:focus,input[type="text"]:focus,:focus,input[type="email"]:focus,.faux-file:focus{
  outline:none;
  border:1px solid rgba(50, 130, 102, 1);
  box-shadow:inset 0 0 0 1px}
