table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  overflow-x:auto;
  overflow: scroll; 
  max-width: 100%;
  height: auto;
}

td, th {
  border: 1px solid rgba(50, 130, 102);
  text-align: left;
  height: auto;
  width: auto;
}
thead {
  background-color: #dddddd;
  overflow: scroll;
  height: auto;
  width: auto;

}
